/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, table, th, td {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  
}

.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.dashboard-title {
  font-size: 24px;
}

.content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  background-image: url("Dashboard.jpg")
}
.search-container {
  margin-bottom: 20px;
}

.profile {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  font-size: 20px;
  margin-top: 10px;
}

.profile-info {
  margin-top: 10px;
}

.chart {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table th {
  background-color: #f5f5f5;
}

.repositories {
  flex: 2;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.repository-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

.footer-text {
  font-size: 14px;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .profile,
  .chart,
  .repositories,
  .repository-details {
    margin-right: 0;
    margin-bottom: 20px;
    flex: auto;
  }
}

.buttonsignout{
  margin-left: 1000px;
}

